* text=auto
*.h text eol=crlf
*.cpp text eol=crlf
*.cs text eol=crlf
*.usf text eol=crlf
*.ush text eol=crlf
*.uplugin text eol=crlf
*.md text eol=lf
*.yml text eol=lf
*.patch text eol=lf
*.uasset binary
*.png binary
*.pdf binary

